@font-face {
  font-family: 'iconfont';  /* project id 1467537 */
  src: url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.eot');
  src: url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.woff') format('woff'),
  url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1467537_r7yf0eeh7od.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxuexiao1:before {
  content: "\e888";
}

.icongen:before {
  content: "\e614";
}

.icondianhua:before {
  content: "\e60d";
}

.iconzuobiao:before {
  content: "\e607";
}

.iconjianli:before {
  content: "\e613";
}

.iconGroupCopy:before {
  content: "\e653";
}

.icongongsi:before {
  content: "\e60b";
}

.iconwodeshoucang:before {
  content: "\e611";
}

