    .content{
		background-color: #FFFFFF;
	}
	
	.avatar {
		font-variant: small-caps;
		margin-left: 120rpx;
		padding: 0;
		display: inline-flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		background-color: #ccc;
		color: #ffffff;
		white-space: nowrap;
		position: relative;
		width: 128upx;
		height: 128upx;
		background-size: cover;
		background-position: center;
		vertical-align: middle;
		font-size: 2.5em;
		content: "\e71c";
	}
	
	.tag {
		width: 36%;
		height:36%;
		font-size: 25upx; 
		font-weight: 500;
		vertical-align: middle;
		margin-top: 90upx;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		white-space: nowrap;
		border: 5upx solid #f1f1f1;
		border-radius: 200upx;
		position: absolute;
		top: -10upx;
		right: -10upx;
		padding: 0upx 16upx;
		color: #ffffff;
	} 
	
	.colum{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 30rpx;
	}
	
	.colum3{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 30rpx;
		margin-top: 45rpx;
	}
	
	.colum1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
	}
	
	.colum2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 45rpx;
	}
	
	.ro{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 15rpx;
	}
	
	.content-ro1{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 15rpx;
		padding: 0rpx 50rpx 0rpx 10rpx;
	}
	.content-ro2{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin-top: 15rpx;
		padding: 0rpx 50rpx 0rpx 10rpx;
	}
	
	.ro1{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0rpx 20rpx;
	}
	
	.card {
		display: block;
		overflow: hidden;
		display: block;
		background-color: #ffffff;
		overflow: hidden;
		border-radius: 10upx;
		width: 95%;
		margin-top: 30rpx;
	}
	
	.basicinfo{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.icon{
		border:3px solid #ff8735;
		border-radius:50%;
		background-color: #ff8735;
		height: 120rpx;
		align-items: center;
		padding: 10rpx 15rpx 20rpx 15rpx;
		
	}
	
	.college_icon{
		max-width: 100%;
		max-height: 100%;
		width: 80rpx;
		height: 80rpx;
	}
	
	.phone_icon{
		width: 40rpx;
		height: 40rpx;
	}
	
	.introdution{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 10rpx;
		padding-top: 25rpx;
	}
	
	.end{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-top: 40rpx;
		margin-bottom: 40rpx;
	}
	
	.buto{
		margin: 0rpx!important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 40%;
	}
	
	.text-name {
		font-size: 55rpx;
		font-weight:500;
		color: #000000;
	}
	
	.text-intro{
		font-size: 30rpx;
		font-weight:200rpx;
		color: #000000;
	}
	
	.text-subhead{
		font-size: 35rpx;
		font-weight: 600;
	}
	
	.text-subhead_{
		font-size: 35rpx;
		font-weight: 600;
		margin-left: 30rpx;
		margin-bottom: 30rpx;
	}
	
	.text-introtion{
		color: #000000;
		font-size: 30rpx;
		margin-top: 5rpx;
	}
	
	.text-introtion1{
		color: #000000;
		font-size: 30rpx;
		margin-left: 15rpx;
	}
	
	.text-introtion2{
		color: #000000;
		font-size: 30rpx;
		margin-top: 25rpx;
	}
	
	.text-introtion3{
		color: #000000;
		font-size: 30rpx;
		margin-top: 15rpx;
	}
	
	.text-university{
		font-size: 33rpx;
		font-weight: 600;
	}